nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 15px;

}

nav li a {
    text-decoration: none;
    font-size: 20px;
    color: yellow;
    background-color: brown;
    padding: 10px;
    border-radius: 5px;
}

nav li .dropdown {
    display: none;
    position: absolute;
}

nav li .dropdown li {
    margin: 5px;
    padding-left: 15px;
    padding-bottom: 20px;

}

nav li .dropdown li a {
    background-color: beige;
    color: blueviolet;
    font-size: 18px;
}

nav li:hover .dropdown {
    display: block;
}

nav li:hover>.maga-mune {
    display: block;
}

label {
    display: block;
    margin-bottom: 15px;
}

table {
    border-collapse: collapse;
}

td,
th,
tr {
    border: 1px solid black;
    padding: 10px;
}